<header>
  <div class="container">
    <div class="logo">
      <a href="/">Tienda de Discos</a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li class="search-bar">
          <button ((click))="clickBusqueda()"><i class="fas fa-search"></i></button>
          <input type="text" [(ngModel)]="textobusqueda" placeholder="Buscar...">
          <div className="radio">
          <div class="radio">
            <label>
              <input (click)="clickCancion()" type="radio" name="opcion" value="option1" checked />
              Canciones
            </label>
            <label>
              <input (click)="clickInterprete()" type="radio" name="opcion" value="option2" />
              Interpretes
            </label>
            <label>
              <input (click)="clickGenero()" type="radio" name="opcion" value="option3" />
              Generos
            </label>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="main-content">
  <h1>Bienvenido a Canciones Online</h1>
  <p>Aquí encontrarás una gran variedad de canciones para todos los gustos.</p>
  <!-- Puedes añadir más contenido aquí -->
</div>
