header {
  background: linear-gradient(to right, #59ccb9, #0dcf85);
  color: #fff;
  padding: 10px 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo a {
  color: #0a0505;
  font-size: 60px;
  text-decoration: none;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}
.search-bar {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: flex-start;
  margin-left: 50px;
}
.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px; /* Añade margen inferior */
}
.search-bar button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}
.search-bar button i {
  color: #333;
}
.cart a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart a i {
  margin-right: 5px;
}