<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="button-container">
        <button (click)="mostrarOpcionesCancion()">Canción</button>
        <button (click)="mostrarOpcionesGeneros()">Género</button>
        <button (click)="mostrarInterpretes()"> Intérprete</button>
    </div>
    <div class="separacion"></div>
    <div class="cuerpo"><router-outlet></router-outlet></div>
</div>
</body>
</html>
