<div class="contenedor">
    <!-- <button style="width: 15vh ;">Hola</button>
    <button style="width: 68vh;">Adios</button> -->
    <div class="AltasBajasModificaciones">
        <div>
          <input (click)="clickRadioAlta()" class="radioaltas" type="radio" name="consultas" checked> Altas
        </div>
       <div>
        <input (click)="clickRadioBajas()" class="radiobajas" type="radio" name="consultas"> Bajas
       </div> 
       <div>
        <input (click)="clickRadioModificiar()" class="radiomodificar" type="radio" name="consultas"> Modificar
       </div>
    </div>
    
    <div class="RellenandoDatos">
        <h3 style=" padding-left: 40%;">GENERO</h3>
        <div>
            <label class="margenLaterales" for="" >idGenero</label>
            <input type="text" [(ngModel)]="this.genero.idGenero" [disabled]="isdisableidGenero">
        </div>
        <div>
            <label class="margenLaterales" for="">Nombre genero</label>
            <input type="text" [(ngModel)]="this.genero.tipoGenero" [disabled]="isdisablenombreGenero">
        </div>
        <div style="padding-left: 160px; padding-top: 20px;">
            <button (click)="enviarGenero()" >Enviar</button>
        </div>
    </div>
</div>