<div class="contenedor">
    
    <div class="AltasBajasModificaciones">
        <div>
          <input (click)="clickRadioAlta()" class="radioaltas" type="radio" name="consultas" checked> Altas
        </div>
       <div>
        <input (click)="clickRadioBajas()" class="radiobajas" type="radio" name="consultas"> Bajas
       </div> 
       <div>
        <input (click)="clickRadioModificiar()" class="radiomodificar" type="radio" name="consultas"> Modificar
       </div>
    </div>
    
    <div class="RellenandoDatos">
        <h3 style=" padding-left: 40%;">INTERPRETE</h3>
    
        <div>
            <label class="margenLaterales" for="" >idInterprete</label>
            <input type="text" value="0" [(ngModel)]="this.interprete.idInterprete" [disabled]="isdisableidInterprete">
        </div>
        <div>
            <label class="margenLaterales" for="">Nombre</label>
            <input type="text" [(ngModel)]="interprete.nombre" [disabled]="isdisablenombre">
        </div>
        <div>
            <label class="margenLaterales" for="">fechaCreacion</label>
            <input type="date" [(ngModel)]="interprete.fechaCreacion" [disabled]="isdisablefechaCreacion">
        </div>
        <div>
            <label class="margenLaterales" for="">paisOrigen</label>
            <input type="text" [(ngModel)]="interprete.paisOrigen" [disabled]="isdisablepais">
        </div>
        <div style="padding-left: 160px; padding-top: 20px;">
            <button (click)="enviarInterPrete()">Enviar</button>
        </div>
        
    </div>
</div>

